$theme-primary: #886ab5;
$theme-secondary: #868e96;
$theme-success: #1dc9b7;
$theme-info: #2196f3;
$theme-warning: #ffc241;
$theme-danger: #fd3995;
$theme-light: #fff;
$theme-dark: #505050;
$whr-fontm-color-default: #bdafd1;
$theme-primary-50: #ccbfdf;
$theme-primary-100: #beaed7;
$theme-primary-200: #b19dce;
$theme-primary-300: #a38cc6;
$theme-primary-400: #967bbd;
$theme-primary-500: #886ab5;
$theme-primary-600: #7a59ad;
$theme-primary-700: #6e4e9e;
$theme-primary-800: #62468d;
$theme-primary-900: #563d7c;
$theme-success-50: #7aece0;
$theme-success-100: #63e9db;
$theme-success-200: #4de5d5;
$theme-success-300: #37e2d0;
$theme-success-400: #21dfcb;
$theme-success-500: #1dc9b7;
$theme-success-600: #1ab3a3;
$theme-success-700: #179c8e;
$theme-success-800: #13867a;
$theme-success-900: #107066;
$theme-info-50: #9acffa;
$theme-info-100: #82c4f8;
$theme-info-200: #6ab8f7;
$theme-info-300: #51adf6;
$theme-info-400: #39a1f4;
$theme-info-500: #2196f3;
$theme-info-600: #0d8aee;
$theme-info-700: #0c7cd5;
$theme-info-800: #0a6ebd;
$theme-info-900: #0960a5;
$theme-warning-50: #ffebc1;
$theme-warning-100: #ffe3a7;
$theme-warning-200: #ffdb8e;
$theme-warning-300: #ffd274;
$theme-warning-400: #ffca5b;
$theme-warning-500: #ffc241;
$theme-warning-600: #ffba28;
$theme-warning-700: #ffb20e;
$theme-warning-800: #f4a500;
$theme-warning-900: #da9400;
$theme-danger-50: #feb7d9;
$theme-danger-100: #fe9ecb;
$theme-danger-200: #fe85be;
$theme-danger-300: #fe6bb0;
$theme-danger-400: #fd52a3;
$theme-danger-500: #fd3995;
$theme-danger-600: #fd2087;
$theme-danger-700: #fc077a;
$theme-danger-800: #e7026e;
$theme-danger-900: #ce0262;
$theme-fusion-50: #909090;
$theme-fusion-100: #838383;
$theme-fusion-200: #767676;
$theme-fusion-300: dimgray;
$theme-fusion-400: #5d5d5d;
$theme-fusion-500: #505050;
$theme-fusion-600: #434343;
$theme-fusion-700: #363636;
$theme-fusion-800: #2a2a2a;
$theme-fusion-900: #1d1d1d;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1399px;